telo_churn.ipynb
.gitignore
/Churn-system/featurepipline.py
Churn-system/mlruns
/Telo-customer-at-risk.csv
/mlartifacts/
Churn-system/data/processed/
*__pycache__
telo_churn.ipynb
__pycache__/
*.py[cod]
*.pyc
.env
*.egg-info/
dist/
build/
mlruns/
mlartifacts/
.vscode/
.idea/
.dockerignore
tmp_model/
*.log
*.db
